body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}
 
body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    gap: 70px;
    padding-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
}


.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    gap: 40px;
   /*margin-left: calc((100% - 800px) / 2);*/
    /*margin-left: calc(50% - 400px);*/
    /*background-color: yellow;*/
}

.logo{
    height: 30px;
    width: 80px;
    /*background-color: rgb(216, 75, 200);*/
    object-fit: contain;
    /*object-fit: contain; geriausia 
    naudoti kaip logotipas, cover isdarko paveksl., 
    top ir bottom, center*/
    object-position: left center;
    /*nustato objektui pozicija  
    object-position: left center;*/
}

.main-nav{
    display: flex;
    gap: 25px;
}

.main-nav > .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    border-bottom:2px solid transparent;
    transition-duration: 0.15s;
    /*border-bottom: 5px solid red;*/
}

.nav-link:hover{
    border-bottom: 2px solid rgb(106, 0, 141);
}

.nav-link:active{
    color: rgb(215, 116, 248);
}

.column-left{
    width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: left;
   gap: 10px;
   color: black;
}

.main-title{
    display: inline;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
}

.subtitle{
    display: inline;
    font-size: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    text-transform: capitalize;
}

/*.bruksnys{
    border-bottom: 5px solid rgb(106, 0, 141);
    padding-right: 5px;
}*/

hr{
    display: inline;
    margin: 0;
    padding: 0;
    background-color: rgb(75, 0, 141);
    width: 92px;
    height: 3px;
    margin-left: 8px;
    border: none;
}

.desription{
    padding-top: 10%;
    padding-right: 10%;
    display: inline;
    text-align: left;
    font-size: 20px;
    /*font-weight: 550;*/
    line-height: 25px;
    font-family: 'Josefin Sans', sans-serif;

}

.btn-list{
    /*box-sizing: border-box;*/
    display: flex;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.btn-list > .btn.btn-violet{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid rgb(75, 0, 141);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background-color: rgb(75, 0, 141);
    text-transform: uppercase;
    line-height: 20px;
    transition-duration: 0.4s;
}

.btn-list > .btn.btn-violet:hover{
    background-color: white;
    color: rgb(75, 0, 141);
}


.btn-list > .btn.btn-white{
    display: inline-block;
    text-decoration: none;
    color: rgb(75, 0, 141);
    border: 3px solid rgb(75, 0, 141);
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition-duration: 0.4s;
}

.btn-list > .btn.btn-white:hover{
    background-color: rgb(75, 0, 141);
    color: rgb(255, 255, 255);
}

.column-right{
    width: 55%;
}

.main-img{
    width: 110%;
    background-color: rgb(255, 255, 255);
}


.socials{
    display: flex;
    justify-content: row;
    gap: 10px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}

.icon1, .icon2, .icon3, .icon4{
	color: grey;
    margin: 8px;
    font-size: 20px;
    justify-content: center;
}

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover{
    color: rgb(75, 0, 141);
}

.copyright{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}